     *{
      font-family: sans;
     }
     p{
      color: #1e3560;
      line-height: normal;
     } 

     .flex-container {
      display: flex;
      flex-wrap: wrap;
    }
    
    .responsive-container {
      flex: 0 0 50%;
    }

    .circle-container {
      display: flex;
      flex: 0 0 50%;
      justify-content: center;
      align-items: center;
      height: 50vh;
  }

  .circle-container.dritter{
    flex: 0 0 100%!important;
  }

    .big-circle {
      width: 250px;
      height: 250px;
      background: #54C6A8;
      border-radius: 50%;
      position: relative;
      animation: pulse 2s infinite; 
      cursor: pointer; 
    }

    .big-circle.clicked {
    animation: none;
    }

    .big-circle.third-child {
      flex-basis: 100%;
    }

  /************** NEU CIRCLE2 SIEBEN *******************/
    .big-circle2 {
      width: 250px;
      height: 250px;
      background: #54C6A8;
      border-radius: 50%;
      position: relative;
      animation: pulse 2s infinite; 
      cursor: pointer; 
    }

    .big-circle2.clicked {
    animation: none;
    }

    .big-circle2.third-child {
      flex-basis: 100%;
    }
 /**************ENDE CIRCLE2 SIEBEN ***************/


    .kleiner-kreis {
      width: 60px;
      height: 60px;
      background: #54C6A8;
      border-radius: 50%;
      position: absolute;
      bottom: 110px;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
      top: 44%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: row-reverse;
      border: solid white 2px;
    }

    .kleiner-kreis3 {
      width: 60px;
      height: 60px;
      background: #54C6A8;
      border-radius: 50%;
      margin-left: 3rem;
      bottom: 110px;
      left: 50%;
      transform: translateX(-50%);
      opacity: 1;
      top: 44%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: row-reverse;
      border: solid white 2px;
    }

    .kleiner-kreis11 {
      bottom: 100px!important;
    }

    .kleiner-kreis2{
      width: 60px;
        height: 60px;
        background: #54C6A8;
        border-radius: 50%;
        position: absolute;
        bottom: 80px;
        left: 38%;
        transform: translateX(-50%);
        opacity: 0;

        display: flex;
        justify-content: flex-end;
        align-items: center;
        border: solid white 2px;
    }

    /*********************************************************************
                              SIEBEN                                     
    *********************************************************************/

    .kleiner-kreis_SIEBEN {
      width: 60px;
      height: 60px;
      background: #54C6A8;
      border-radius: 50%;
      position: absolute;
      bottom: 110px;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
      top: 44%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: row-reverse;
      border: solid white 2px;
    }

    .kleiner-kreis3_SIEBEN {
      width: 60px;
      height: 60px;
      background: #54C6A8;;
      border-radius: 50%;
      position: absolute;
      left: 127%;
      transform: translateX(-50%);
      opacity: 0;
      top: 46%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: row-reverse;
      border: solid white 2px;
    }
    
    .kleiner-kreis4_SIEBEN {
      width: 60px;
      height: 60px;
      background: #54C6A8;;
      border-radius: 50%;
      position: absolute;
      bottom: 110px;
      left: 45%;
      transform: translateX(-50%);
      opacity: 0;
      top: 45%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: row-reverse;
      border: solid white 2px;
    }

    .kleiner-kreis5_SIEBEN {
      width: 60px;
      height: 60px;
      background: #54C6A8;;
      border-radius: 50%;
      position: absolute;
      bottom: 110px;
      left: 67%;
      transform: translateX(-50%);
      opacity: 0;
      top: 69%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: row-reverse;
      border: solid white 2px;
    }

 
    .kleiner-kreis0_SIEBEN{
      width: 60px;
        height: 60px;
        background: #54C6A8;;
        border-radius: 50%;
        position: absolute;
        bottom: 35px;
        left: 38%;
        transform: translateX(-50%);
        opacity: 0;

        display: flex;
        justify-content: flex-end;
        align-items: center;
        border: solid white 2px;
    }

    .kleiner-kreis1_SIEBEN {
      width: 60px;
      height: 60px;
      background: #54C6A8;;
      border-radius: 50%;
      position: absolute;
      bottom: 110px;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
      top: 44%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row-reverse;
      border: solid white 2px;
    }

    .kleiner-kreis2_SIEBEN{
      width: 60px;
        height: 60px;
        background: #54C6A8;
        border-radius: 50%;
        position: absolute;
        top: 43%;
        left: 56%;
        transform: translateX(-50%);
        opacity: 0;

        display: flex;
        justify-content: flex-end;
        align-items: center;
        border: solid white 2px;
    }
    /*************************** SIEBEN ENDE *********************************/


    .kleiner-kreis2.kultur p{
      width: 170px !important;
    }
    .kleiner-kreis2.prchain p{
      width: 61px !important;
    }
    .kultur.kleiner-kreis-text p{
      padding-left: 0rem!important;
    }
    .kleiner-kreis-text3 p{
      width: 7rem!important;
    }
    .kleiner-kreis-text4 p {
      width: 12rem !important;
    }
    .kleiner-kreis-text5 p {
      width: 14.3rem !important;
    }
    .kleiner-kreis-text1 p{
      padding-right: 2rem !important;
    }
    .kleiner-kreis-text6 p{
      width: 11rem!important;
    }
    .kleiner-kreis-text7 p{
      width: 6.3rem!important;
    }
    .kleiner-kreis-text8 p{
      width: 8.5rem!important;
    }
    
    .kleiner-kreis-text a, .kleiner-kreis-text0 a, .kleiner-kreis-text1 a, .kleiner-kreis-text2 a, .kleiner-kreis-text3 a, .kleiner-kreis-text4 a{  
      pointer-events: none; 
  }
  

    /************** START PRCHAIN SIEBEN *******************/
    .prchain{
        left: 55%!important;
    }
    .prchain0{
      left: 71%!important;
    }
    .prchain1{
      left:51%!important;
    }
    .prchain2{
      left:51%!important;
    }
    .prchain3{
      left: 9rem !important;
    }
    .prchain4{
      left: 8rem !important;
    }
  /************** ENDE PRCHAIN SIEBEN*******************/


    .kleiner-kreis2.prchain2 p {
      width: 176px !important;
    }

    .kleiner-kreis-text {
      opacity: 0;
      transition: opacity 0.8s ease-out 0.7s; 
      padding-right: 2rem;
    }
    .kleiner-kreis-text2 {
      opacity: 0;
      transition: opacity 0.8s ease-out ; 
      padding-right: 2rem;
    }
    .kleiner-kreis-text p, .kleiner-kreis-text2 p{
     width: 11rem;
    }

    .kleiner-kreis-text0{
      padding-right: 1rem !important;
    }
    .kleiner-kreis-text0 p{
      width: 5rem;
    }


    .marketing .kleiner-kreis-text p{
      width: 13.4rem!important;
     }
     .marketing .kleiner-kreis-text2 p{
      width: 10rem !important;
      padding-right: 0.2rem;
     }
     
    .techno .kleiner-kreis-text p{
      width: 11.8rem!important;
     }

    .technologie.kleiner-kreis-text2 p{
      width: 12rem!important;
     }

     #digital{
      width: 10.8rem !important;
      padding-left: 2.5rem !important;
     }

     #organisation{
      width: 9.8rem !important;
     }

    .kleiner-kreis:hover .kleiner-kreis-text,
    .kleiner-kreis2:hover .kleiner-kreis-text {
      opacity: 0;
      transition: opacity 0.4s;
    }

    .kleiner-kreis:nth-child(1),
    .kleiner-kreis2:nth-child(1){
      animation: rotate1 0.6s ease-in-out forwards;
      animation-delay: 0s;
      animation-play-state: paused;
    }

    .kleiner-kreis:nth-child(2),
    .kleiner-kreis2:nth-child(2){
      animation: rotate2 0.8s ease-in-out forwards;
      animation-delay: 0s;
      animation-play-state: paused;
    }

    .kleiner-kreis:nth-child(3),
    .kleiner-kreis2:nth-child(3){
      animation: rotate3 0.8s ease-in-out forwards;
      animation-delay: 0.2s;
      animation-play-state: paused;
    }

    .big-circle > *:nth-of-type(4) {
      animation: rotate4 0.6s ease-in-out forwards;
      animation-delay: 0.4s;
      animation-play-state: paused;
    }

    .big-circle > *:nth-of-type(5) {
      animation: rotate5 0.4s ease-in-out forwards;
      animation-delay: 0.6s;
      animation-play-state: paused;
    }

    /*  */
    /* HIER ÄNDERUNG */
    .big-circle2 > *:nth-of-type(1) {
      animation: rotate1_SIEBEN 0.6s ease-in-out forwards;
      animation-delay: 0s;
      animation-play-state: paused;
    } 

    /* HIER ÄNDERUNG */
    .big-circle2 > *:nth-of-type(2) {
      animation: rotate2_SIEBEN 0.8s ease-in-out forwards;
      animation-delay: 0s;
      animation-play-state: paused;
    }

    /* HIER ÄNDERUNG */
    .big-circle2 > *:nth-of-type(3) {
      animation: rotate3_SIEBEN 0.8s ease-in-out forwards;
      animation-delay: 0.2s;
      animation-play-state: paused;
    }

    .big-circle2 > *:nth-of-type(4) {
      animation: rotate4_SIEBEN 0.6s ease-in-out forwards;
      animation-delay: 0.4s;
      animation-play-state: paused;
    }

    .big-circle2 > *:nth-of-type(5) {
      animation: rotate5_SIEBEN 0.4s ease-in-out forwards;
      animation-delay: 0.6s;
      animation-play-state: paused;
    }
    .big-circle2 > *:nth-of-type(6) {
      animation: rotate6_SIEBEN 0.4s ease-in-out forwards;
      animation-delay: 0.6s;
      animation-play-state: paused;
    }
    .big-circle2 > *:nth-of-type(7) {
      animation: rotate7_SIEBEN 0.4s ease-in-out forwards;
      animation-delay: 0.6s;
      animation-play-state: paused;
    }

    /*   */

    .kleiner-kreis:nth-child(1):hover,
    .kleiner-kreis2:nth-child(1):hover,
    .kleiner-kreis:nth-child(2):hover,
    .kleiner-kreis2:nth-child(2):hover,
    .kleiner-kreis:nth-child(3):hover,
    .kleiner-kreis2:nth-child(3):hover,
    /*.big-circle > *:nth-of-type(4):hover,*/
    .big-circle > *:nth-of-type(5):hover {
      background: #8befd3;
    }

    .kleiner-kreis-text p{
      padding-left: 2rem;
    }

    .kleiner-kreis-text p:hover{
      color: #8befd3;
    }

    .nachhaltig{
      color: #fff;
    }

    .zentriert{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      border: white solid 3px;
      border-radius: 128px;
    }

    .hr {
      color: #fff;
    }
    .geschaftsentwicklung {
      color: #fff;
    }
    .technologie {
      color: #fff;
    }
    .marketing {
      color: #fff;
    }

    .hrmobile{
      
    }

    @keyframes rotate1 {
      0% {
        transform: translateX(-50%) rotate(0deg) translateY(150px) rotate(0deg);
        opacity: 0;
        width: 60px;
        height: 60px;
      }
      1% {
        opacity: 1; 
      }
      100% {
        transform: translateX(-50%) rotate(1.05turn) translateY(150px) rotate(-1.05turn);
        opacity: 1;
        width: 30px;
        height: 30px;
      }
    }

    @keyframes rotate2 {
      0% {
        transform: translateX(-50%) rotate(0deg) translateY(150px) rotate(0deg);
        opacity: 0;
        width: 60px;
        height: 60px; 
      }
      1% {
        opacity: 1; 
      }
      100% {
        transform: translateX(-50%) rotate(0.75turn) translateY(150px) rotate(-0.75turn);
        opacity: 1;
        width: 30px;
        height: 30px;
      }
    }

    @keyframes rotate3 {
      0% {
        transform: translateX(-50%) rotate(0deg) translateY(150px) rotate(0deg);
        opacity: 0;
        width: 60px;
        height: 60px; 
      }
      1% {
        opacity: 1; 
      }
      100% {
        transform: translateX(-50%) rotate(0.4turn) translateY(150px) rotate(-0.4turn);
        opacity: 1;
        width: 30px;
        height: 30px;
      }
    }

    @keyframes rotate4 {
      0% {
        transform: translateX(-50%) rotate(0deg) translateY(150px) rotate(0deg);
        opacity: 0;
        width: 60px;
        height: 60px; 
      }
      1% {
        opacity: 1; 
      }
      100% {
        transform: translateX(-50%) rotate(0.4turn) translateY(150px) rotate(-0.4turn);
        opacity: 1;
        width: 30px;
        height: 30px;
      }
    }

    @keyframes rotate5 {
      0% {
        transform: translateX(-50%) rotate(0deg) translateY(150px) rotate(0deg);
        opacity: 0;
        width: 60px;
        height: 60px; 
      }
      1% {
        opacity: 1; 
      }
      100% {
        transform: translateX(-50%) rotate(0.35turn) translateY(150px) rotate(-0.35turn);
        opacity: 1;
        width: 30px;
        height: 30px;
      }
    }


/************************START KEYFRAMES SIEBEN**************************/
@keyframes rotate1_SIEBEN {
  0% {
    transform: translateX(-50%) rotate(0deg) translateY(150px) rotate(0deg);
    opacity: 0;
    width: 60px;
    height: 60px;
  }
  1% {
    opacity: 1; 
  }
  100% {
    transform: translateX(-50%) rotate(0.96turn) translateY(150px) rotate(-0.96turn);
    opacity: 1;
    width: 30px;
    height: 30px;
  }
}

@keyframes rotate2_SIEBEN {
  0% {
    transform: translateX(-50%) rotate(0deg) translateY(150px) rotate(0deg);
    opacity: 0;
    width: 60px;
    height: 60px; 
  }
  1% {
    opacity: 1; 
  }
  100% {
    transform: translateX(-50%) rotate(0.8turn) translateY(150px) rotate(-0.8turn);
    opacity: 1;
    width: 30px;
    height: 30px;
  }
}

@keyframes rotate3_SIEBEN {
  0% {
    transform: translateX(-50%) rotate(0deg) translateY(150px) rotate(0deg);
    opacity: 0;
    width: 60px;
    height: 60px;
  }
  1% {
    opacity: 1; 
  }
  100% {
    transform: translateX(-50%) rotate(0.66turn) translateY(150px) rotate(-0.66turn);
    opacity: 1;
    width: 30px;
    height: 30px;
  }
}


@keyframes rotate4_SIEBEN {
  0% {
    transform: translateX(-50%) rotate(0deg) translateY(150px) rotate(0deg);
    opacity: 0;
    width: 60px;
    height: 60px;
  }
  1% {
    opacity: 1; 
  }
  100% {
    transform: translateX(-50%) rotate(0.52turn) translateY(150px) rotate(-0.52turn);
    opacity: 1;
    width: 30px;
    height: 30px;
  }
}


@keyframes rotate5_SIEBEN {
  0% {
    transform: translateX(-150%) rotate(0deg) translateY(90px) rotate(0deg);
    opacity: 0;
    width: 60px;
    height: 60px; 
  }
  1% {
    opacity: 1; 
  }
  100% {
    transform: translateX(-50%) rotate(0.2turn) translateY(150px) rotate(-0.2turn);
    opacity: 1;
    width: 30px;
    height: 30px;
  }
}

@keyframes rotate6_SIEBEN {
  0% {
    transform: translateX(-50%) rotate(0deg) translateY(150px) rotate(0deg);
    opacity: 0;
    width: 60px;
    height: 60px; 
  }
  1% {
    opacity: 1; 
  }
  100% {
    transform: translateX(-50%) rotate(0.24turn) translateY(150px) rotate(-0.24turn);
    opacity: 1;
    width: 30px;
    height: 30px;
  }
}

@keyframes rotate7_SIEBEN {
  0% {
    transform: translateX(-50%) rotate(0deg) translateY(150px) rotate(0deg);
    opacity: 0;
    width: 60px;
    height: 60px;
  }
  1% {
    opacity: 1; 
  }
  100% {
    transform: translateX(-50%) rotate(0.38turn) translateY(150px) rotate(-0.38turn);
    opacity: 1;
    width: 30px;
    height: 30px;
  }
}
/***********************************ENDE SIEBEN*************************************/


    .kleiner-kreis-responsive, .kleiner-kreis2-responsive {
      display: none;
      width: 30px;
      height: 30px;
      margin: 20px 38%;
      background: #ff5c39;
      border-radius: 50%;
    }

    @keyframes pulse {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.05);
      }
      100% {
        transform: scale(1);
      }
    }

    .albert{
      display: none;
    }

    @media screen and (max-width: 800px) {
    
      .zentriert{
        border: 0px;
        border-radius: 0px;
      }

      .flex-container {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 25px;
    }

    .abstand {
      margin-bottom: 60px;
  }
  

      .albert{
        flex-grow: 1;
      }
      
      .big-circle, .big-circle2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        animation: none;
        border: solid #fff;
      }
    
      .circle-container {
        flex: 100%;
        justify-content: center;
        height: 40vh;
        padding-top: 2rem;
        
      }


      .kleiner-kreis, .kleiner-kreis2 {
        display: none;
      }
    
      .kleiner-kreis-text, .kleiner-kreis-text2 {
        opacity: 1; 
        transition: none; 
      }

      .kleiner-kreis3{
        width: 30px;
        height: 30px;
        margin-left: -10rem;
        border: solid white 2px;
      }

      .kleiner-kreis-text p {
        padding-left: 2.5rem;
        width:400px;
      }

      .geschaftsentwicklung, .hr, .nachhaltig, .technologie, .marketing {
        padding: 0rem;
        color: #fff;
      }
    }
     